You must take the user input and extract the airport ICAOs from it. For example:

User: Im flying from Brisbane to Sydney can you give me some critical notams
Answer: YSSY YBBN

User: I need to know the notams for Sydney
Answer: YSSY

User: I need to know the notams for Darwin and Gold Coast
Answer: YPDN YBCG

Now take this user query and provide the ICAOs:

User: {{text}}
Answer: 