Once the real user input {{input}} is recieved check to see if the user has specified departure and arrival airports in their prompts which you must simply output in a space seperated ICAO list for example: YSSY YBBN.
A few more examples:

example User input: I am travelling from Sydeny to Melbourne can you give me the relevant NOTAMs? 
YSSY YMML

example User input: I am travelling from Sydeny to Melbourne and the weather is nice
YSSY YMML

Here is the real user input now, identify and return the ICAO codes: